@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-block: 20px;
  box-sizing: border-box;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 96rem /* 1536px */;
  }
}
h1 {
  font-size: 2rem;
  color: #232323;
  margin-inline: 2px;
  @media screen and (max-width: 639px) {
    font-size: 1.25rem !important;
    font-weight: 600 !important;
  }
}
button {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
p {
  margin: 0;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 14px;
  color: inherit;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}
.error-message {
  color: red;
  font-size: 12px;
}
