.projects-btn-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 639px) {
  .projects-btn-container {
    justify-content: center; /* Cambia la alineación para pantallas pequeñas */
    flex-direction: column; /* Cambia la dirección de los botones */
  }
}
/* Estilos para la tabla en vista de escritorio */
.projects-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen */
}

.projects-table th,
.projects-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.projects-table th {
  background-color: #cecece;
  font-weight: bold;
}

.projects-table thead tr {
  border-radius: 8px; /* Bordes redondeados para el encabezado */
}

.projects-table tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.column-action {
  width: 100px;
  text-align: center;
}

/* Estilos para las tarjetas en vista móvil */
@media screen and (max-width: 639px) {
  h1 {
    text-align: center;
    margin-bottom: 12px !important;
  }
  .project-card {
    margin-block: 12px;
    font-size: 14px;
  }
  .card-row p {
    text-align: right;
  }
  .projects-table {
    display: none; /* Oculta la tabla en dispositivos móviles */
  }

  .project-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .project-card .card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .project-card .card-row span {
    font-weight: bold;
  }

  .project-card .card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-card .card-actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
  }

  .project-card .card-actions .btn-delete {
    color: #dc3545;
    border: 1px solid transparent;
  }

  .project-card .card-actions .btn-delete:hover {
    color: #a71d2a;
    border: 1px solid #a71d2a;
  }
}

@media screen and (min-width: 640px) {
  .projects-cards {
    display: none;
  }
}
.btn-delete {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  border: 1px solid transparent;
}

.btn-delete {
  color: #dc3545;
  &:hover {
    color: #a71d2a;
    border: 1px solid #a71d2a;
  }
}
i.material-icons {
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(7, 100, 21, 0.8);
  color: white;
  border-bottom: 1px solid #ddd;
  width: 100vw;
  box-sizing: border-box;
  margin-bottom: 20px;
}
